header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
    background-color: var(--semi-dark-blue);
}

ul {
    display: flex;
    gap: 28px;
    align-items: center;
}

.user-image-container {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    border: 4px solid var(--white);
}

.user-image-container img {
    width: 100%
}

.active-link svg path {
    fill: var(--white);
}

a svg path {
    transition: all 0.5s ease;
}

a:hover svg path {
    fill: var(--red);
}

@media screen and (min-width:743px) {
    header {
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 10px;
        height: 72px;
        padding-left: 24px;
    }

    .user-image-container {
        width: 32px;
        height: 32px;
    }
}


@media screen and (min-width:1280px) {
    header {
        flex-direction: column;
        position: fixed;
        width: 96px;
        height: 80vh;
        padding: 38px 0;
        margin-left: 32px;
        margin-right: 0;
        border-radius: 20px;

    }

    ul {
        flex-direction: column;
    }
}