.home {
    margin-top: 24px;
}

h1 {
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.312px;
}

.trending-section {
    padding-left: 16px;
}

.trending-shows-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: #888 transparent;
    scrollbar-width: thin;
}

.trending-show {
    position: relative;
}

.trending-show-img-container {
    width: 240px;
    height: 140px;
    border-radius: 8px;
}

.trending-show-img-container>img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.65;
}

.trending-show-info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 999;
}

.trending-show-details {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.75;
    color: var(--white);
}

.trending-category,
.trending-rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.trending-category-icon-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.trending-show-title {
    font-size: 15px;
    font-weight: 500;
    color: var(--white);
}

::-webkit-scrollbar {
    display: none;
}

.small-screen-image {
    display: block;
}

.large-screen-image {
    display: none;
}

@media screen and (min-width:743px) {
    .home {
        margin-top: 34px;
    }

    .trending-section {
        padding-left: 25px;
    }

    .trending-shows-container {
        margin-top: 25px;
    }

    .trending-show-img-container {
        width: 470px;
        height: 230px;
    }

    .trending-show-info-container {
        bottom: 24px;
        left: 24px;
    }

    .trending-show-title {
        font-size: 1.5rem;
    }

    .trending-show-details {
        font-size: 0.98rem;
    }

    h1 {
        font-size: 2rem;
        letter-spacing: -0.5px;
    }

    .small-screen-image {
        display: none;
    }

    .large-screen-image {
        display: block;
    }

}

@media screen and (min-width:1280px) {
    .trending-section {
        padding-left: 36px;
    }
}