.home {
    margin-top: 24px;
    padding-left: 16px;
}

h1 {
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.312px;
}

.trending-shows-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    overflow: scroll;
}

.trending-show {
    position: relative;
}

.trending-show-img-container {
    width: 240px;
    height: 140px;
    border-radius: 8px;
}

.trending-show-img-container>img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.65;
}

.trending-show-info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 999;
}

.trending-show-details {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.75;
    color: var(--white);
}

.trending-category,
.trending-rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.trending-category-icon-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.trending-show-title {
    font-size: 15px;
    font-weight: 500;
    color: var(--white);
}

.recommended-section {
    margin-top: 24px;
}

.recommended-shows-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 16px;
    margin-top: 16px;
    padding-right: 16px;
}

.show-container {
    position: relative;
}

.img-container {
    height: 110px;
}

.img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.show-details {
    font-size: 11px;
    font-weight: 300;
    opacity: 0.75;
    color: var(--white);
    margin-top: 8px;
}

.show-details,
.category,
.rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.category-icon-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.show-title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    color: var(--white);
}

.bookmark-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 20, 30, 0.500647);
    border-radius: 999px;
    width: 32px;
    height: 32px;
    top: 8px;
    right: 8px;
    z-index: 999;
}