.home {
    margin-top: 24px;
    padding: 0 16px;
}

h2 {
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.312px;
}

.recommended-shows-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 16px;
    margin-top: 16px;
}

.show-container {
    position: relative;
}

.img-container {
    height: 110px;
}

.img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.show-details {
    font-size: 11px;
    font-weight: 300;
    opacity: 0.75;
    color: var(--white);
    margin-top: 8px;
}

.show-details,
.category,
.rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.category-icon-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.show-title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    color: var(--white);
}

.bookmark-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 20, 30, 0.500647);
    border-radius: 999px;
    width: 32px;
    height: 32px;
    top: 8px;
    right: 8px;
    z-index: 999;
}