<section class="home">
    <div class="overlay"></div>

    <ng-container *ngIf="isLoading; else displayShows">
        <app-trending-skeleton title="Trending"></app-trending-skeleton>
        <app-skeleton title="Recommended for you"></app-skeleton>
    </ng-container>


    <ng-template #displayShows>
        <div *ngIf="!isLoading && filterValue.length !== 0">
            <app-shows-list title="Found {{(filteredShows$|async)?.length}} results for '{{filterValue}}'"
                [Shows]="(filteredShows$ | async) || []">
            </app-shows-list>
        </div>

        <div *ngIf="!isLoading && filterValue.length == 0">
            <section class="trending-section">
                <h1>Trending</h1>

                <div class="trending-shows-container">
                    <div class="trending-show" *ngFor="let trendingShow of trendingShows$ | async">
                        <div class="trending-show-img-container" tabindex="0" role="button"
                            (keydown)="handleKeydown($event,trendingShow._id,trendingShow.video,trendingShow.title,trendingShow.year)"
                            [attr.aria-label]="'Watch ' + trendingShow.title + ' ' + trendingShow.category + ' trailer'"
                            aria-haspopup="dialog">
                            <img class=" small-screen-image" [src]="trendingShow.thumbnail.trending.small"
                                [alt]="trendingShow.title + 'image'">
                            <img class="large-screen-img" [src]="trendingShow.thumbnail.trending.large"
                                [alt]="trendingShow.title + 'image'">
                        </div>

                        <div class="trending-show-info-container">
                            <div class="trending-show-details">
                                <p>{{trendingShow.year}}</p>

                                <div class="trending-category">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3"
                                        fill="none">
                                        <circle opacity="0.5" cx="1.5" cy="1.5" r="1.5" fill="white" />
                                    </svg>

                                    <div class="trending-category-icon-container">
                                        <div [ngSwitch]="trendingShow.category">
                                            <svg *ngSwitchCase="'Movie'" width="12" height="12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z"
                                                    fill="#FFF" opacity=".75" />
                                            </svg>

                                            <svg *ngSwitchCase="'TV Series'" width="12" height="12"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12 2.689H5.448L7.068.722 6.132 0 4.2 2.345 2.268.017l-.936.705 1.62 1.967H0V12h12V2.689Zm-4.8 8.147h-6V3.853h6v6.983Zm3-2.328H9V7.344h1.2v1.164Zm0-2.328H9V5.016h1.2V6.18Z"
                                                    fill="#FFF" opacity=".75" />
                                            </svg>
                                        </div>
                                        <p>{{trendingShow.category}}</p>
                                    </div>
                                </div>

                                <div class="trending-rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3"
                                        fill="none">
                                        <circle opacity="0.5" cx="1.5" cy="1.5" r="1.5" fill="white" />
                                    </svg>
                                    <p>{{trendingShow.rating}}</p>
                                </div>
                            </div>

                            <h3 class="trending-show-title">{{trendingShow.title}}</h3>

                        </div>

                        <button class="bookmark-button" (click)="toggleBookmark(trendingShow)">
                            <div *ngIf="trendingShow.isBookmarked; else elseBlock"
                                [attr.aria-label]="'Remove ' + trendingShow.title + ' ' + trendingShow.category + ' from your bookmarks'">
                                <svg class="bookmarked-svg" width="12" height="14" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z"
                                        stroke="#FFF" stroke-width="1.5" fill="white" />
                                </svg>
                            </div>

                            <ng-template #elseBlock>
                                <div
                                    [attr.aria-label]="'add ' + trendingShow.title + ' ' + trendingShow.category + ' to your bookmarks'">
                                    <svg class=" unbookmarked-svg" width="12" height="14"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z"
                                            stroke="#FFF" stroke-width="1.5" fill="none" />
                                    </svg>
                                </div>
                            </ng-template>
                        </button>

                        <div class="play-button-container"
                            (click)="playVideo(trendingShow._id,trendingShow.video,trendingShow.title,trendingShow.year)">
                            <div class="img-container">
                                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15 0C6.713 0 0 6.713 0 15c0 8.288 6.713 15 15 15 8.288 0 15-6.712 15-15 0-8.287-6.712-15-15-15Zm-3 21V8l9 6.5-9 6.5Z"
                                        fill="#FFF" />
                                </svg>
                            </div>

                            <p>Play</p>
                        </div>
                    </div>
                </div>
            </section>

            <app-shows-list [Shows]="(recommendedShows$ | async )|| []" title="Recommended for you"></app-shows-list>

            <div *ngIf="shouldDisplayVideo">
                <app-video-player></app-video-player>
            </div>
        </div>
    </ng-template>
</section>