<section class="shows-section">
    <div class="overlay"></div>

    <h1 class="shows-heading">{{title}}</h1>

    <p class="no-bookmark-message" *ngIf="title=='Bookmarked Movies' && Shows.length == 0"> OOPS!!! You currently have
        no bookmarked movies</p>
    <p class="no-bookmark-message" *ngIf="title=='Bookmarked Series' && Shows.length == 0"> OOPS!!! You currently have
        no bookmarked series</p>

    <div class="shows-container">
        <div class="show-container" *ngFor="let show of Shows">
            <div class="img-container" tabindex="0" role="button"
                (keydown)="handleKeydown($event,show._id,show.video,show.title,show.year)"
                [attr.aria-label]="'Watch ' + show.title + ' ' + show.category + ' trailer'" aria-haspopup="dialog">
                <img class="small-screen" [src]="show.thumbnail.regular.small" [alt]="show.title + ' thumbnail'" />
                <img class="medium-screen" [src]="show.thumbnail.regular.medium" alt="{{ show.title }} 'thumbnail'" />
                <img class="large-screen" [src]="show.thumbnail.regular.large" alt="{{ show.title }} 'thumbnail'" />


                <div class="play-button-container" (click)="playVideo(show._id,show.video,show.title,show.year)">
                    <div>
                        <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15 0C6.713 0 0 6.713 0 15c0 8.288 6.713 15 15 15 8.288 0 15-6.712 15-15 0-8.287-6.712-15-15-15Zm-3 21V8l9 6.5-9 6.5Z"
                                fill="#FFF" />
                        </svg>
                    </div>

                    <p>Play</p>
                </div>
            </div>

            <div class="show-details">
                <p>{{show.year}}</p>

                <div class="category">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="2" viewBox="0 0 2 2" fill="none">
                        <circle opacity="0.5" cx="1" cy="1" r="1" fill="white" />
                    </svg>

                    <div class="category-icon-container">
                        <div [ngSwitch]="show.category">
                            <svg *ngSwitchCase="'Movie'" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z"
                                    fill="#FFF" opacity=".75" />
                            </svg>

                            <svg *ngSwitchCase="'TV Series'" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 2.689H5.448L7.068.722 6.132 0 4.2 2.345 2.268.017l-.936.705 1.62 1.967H0V12h12V2.689Zm-4.8 8.147h-6V3.853h6v6.983Zm3-2.328H9V7.344h1.2v1.164Zm0-2.328H9V5.016h1.2V6.18Z"
                                    fill="#FFF" opacity=".75" />
                            </svg>
                        </div>
                        <p>{{show.category}}</p>
                    </div>
                </div>

                <div class="rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="2" viewBox="0 0 2 2" fill="none">
                        <circle opacity="0.5" cx="1" cy="1" r="1" fill="white" />
                    </svg>
                    <p>{{show.rating}}</p>
                </div>
            </div>

            <h3 class="show-title">{{show.title}}</h3>

            <button class="bookmark-button" (click)="toggleBookmark(show)">
                <div *ngIf="show.isBookmarked; else elseBlock"
                    [attr.aria-label]="'Remove' + show.title + ' ' + show.category + ' from your bookmarks' ">
                    <svg class="bookmarked-svg" width="12" height="14" xmlns="http://www.w3.org/2000/svg">
                        <path d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z" stroke="#FFF"
                            stroke-width="1.5" fill="white" />
                    </svg>
                </div>

                <ng-template #elseBlock>
                    <div [attr.aria-label]="'add' + show.title + ' ' + show.category + ' to your bookmarks' ">
                        <svg class="unbookmarked-svg" width="12" height="14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z" stroke="#FFF"
                                stroke-width="1.5" fill="none" />
                        </svg>
                    </div>
                </ng-template>
            </button>
        </div>

        <!-- <ng-template cdkPortal>
            <app-video-player></app-video-player>
        </ng-template> -->
    </div>
</section>