.app {
    min-height: 100vh;
    background-color: var(--dark-blue);
    padding-bottom: 23px;
}

@media screen and (min-width:743px) {
    .app {
        padding-top: 23px;
    }
}

@media screen and (min-width:1280px) {
    main {
        margin-left: 128px;
    }
}