<div *ngIf="filterValue.length !== 0; else elseBlock">
    <app-shows-list title="Found {{filteredBookmarks.length}} results for '{{filterValue}}'" [Shows]="filteredBookmarks"
        filterType="bookmark-filter" (updatedShows)="onShowsChanged($event)">
    </app-shows-list>
</div>

<ng-template #elseBlock>
    <app-shows-list title="Bookmarked Movies" [Shows]="bookmarkedMovies"
        (updatedShows)="onShowsChanged($event)"></app-shows-list>
    <app-shows-list title="Bookmarked Series" [Shows]="bookmarkedSeries"
        (updatedShows)="onShowsChanged($event)"></app-shows-list>
</ng-template>