<div class="login">
    <div class="logo-container">
        <svg width="33" height="27" xmlns="http://www.w3.org/2000/svg">
            <path
                d="m26.463.408 3.2 6.4h-4.8l-3.2-6.4h-3.2l3.2 6.4h-4.8l-3.2-6.4h-3.2l3.2 6.4h-4.8l-3.2-6.4h-1.6a3.186 3.186 0 0 0-3.184 3.2l-.016 19.2a3.2 3.2 0 0 0 3.2 3.2h25.6a3.2 3.2 0 0 0 3.2-3.2V.408h-6.4Z"
                fill="#FC4747" />
        </svg>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>

        <div class="field">
            <input type="text" formControlName="email" placeholder="Email address" />
        </div>

        <div class="field">
            <input type="text" formControlName="password" placeholder="Password" />
        </div>

        <div>
            <button type="submit">Login to your account</button>
        </div>

        <div class="sign-up-container">
            <p>Don't have an account?<span><a> Sign Up</a></span></p>
        </div>
    </form>

</div>